* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
span, a, label {
    display: inline-block;
}
.asosiy {
    max-width: 1400px;
    margin: 20px auto;
}
.bir {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.ba {
    text-decoration: none;
    color: black;
}
.ba1 {
    text-decoration: none;
    color: red;
}
.btn {
    background-color: tomato;
    color: white;
    border: none;
    padding: 10px 20px;
    box-shadow: 0 0 5px 1px red;
}
.iki {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 100px;
}
.ichap {
    width: 40%;
}
.chh3 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 0;
}
.chh {
    width: 40px;
    height: 1px;
    background-color:rgb(214, 109, 109);
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.chs {
    color: rgb(214, 109, 109);
}
.ch1 {
    width: 85%;
    font-size: 50px;
    margin-top: 10px;
}
.orpic {
    width: 40%;
}
.chp {
    width: 75%;
    border-left: 2px solid rgb(145, 143, 143);
    padding: 10px;
    margin-bottom: 20px;
}
.icon {
    background-color: black;
    border-top-right-radius: 10px;
    color: white;
    padding: 10px;
}
.cha {
    color: rgb(5, 5, 5);
    text-decoration: none;  
    margin-bottom: 20px;
}
.chiz {
    height: 2px;
    background-color: rgb(135, 134, 134);
    margin-bottom: 20px;
}
.cp {
    color: rgb(119, 118, 118);
}
.iong {
    width: 15%;
}
.onicha {
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(132, 131, 131);
    margin-bottom: 10px;
}
.cx {
    width: 30px;
    height: 1px;
    background-color:rgb(116, 116, 116);
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.onih3 {
    color: rgb(23, 20, 20);
    margin-bottom: 10px;
}
.M {
    color: rgb(25, 22, 22);
    margin-bottom: 40px;
}
.onia {
    color: red;
}
.uch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.uchap {
    width: 49%;
    background-color: rgb(243, 232, 230);
    padding: 20px;
    padding-bottom: 0;
}
.uh2 {
    width: 35%;
    margin-top: 10px;
    margin-bottom: 40px;
}
.uoh2 {
    width: 30%;
    margin-top: 10px;
    margin-bottom: 40px;
}
.uong {
    width: 49%;
    background-color: rgb(216, 239, 239);
    padding: 20px;
    padding: 20px;
    padding-bottom: 0;
}
.tort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.tpic {
    width: 40%;
}
.tong {
    width: 55%;
}
.ts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.ts1 {
    width: 30%;
}
.th1 {
    width: 75%;
    font-size: 45px;
    margin-bottom: 80px;
}
.bri {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;

}
.bxx {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 49%;
}
.t {
    background-color: tomato;
    color: rgb(253, 252, 252);
    padding: 10px 10px;
}
.bxp {
    width: 75%;
    color: rgb(114, 112, 112);
    margin-top: 10px;
}
.ts {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.li {
    width: 50%;
    color: rgb(82, 82, 82);
}
.son1 {
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
    color: black;
}
.besh {
    background-color: rgb(234, 233, 233);
    padding: 80px 40px;
    margin-bottom: 100px;
}
.bbx {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 20px;
}
.box {
    width: 32%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.bz {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}
.iconb {
    background-color: rgb(233, 134, 116);
    color: white;
    padding: 15px;
    margin: 5px;
}
.boxp {
    width: 40%;
}
.boxp1 {
    width: 70%;
    color: rgb(97, 97, 97);
    line-height: 1.5;
    margin-bottom: 30px;
}
.boxa1 {
    color: tomato;
}
.bh1 {
    text-align: center;
    margin-bottom: 20px;
}
.ds {
    display: inline-block;
    background-color: tomato;
    color: white;
    padding: 8px 15px;
    transform: translateX(600px) translateY(700px);
    box-shadow: 0 0 5px 5px  tomato;
}
.pcch {
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50px;
}
.pas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pchz {
    width: 50px;
    height: 1px;
    background-color: black;
}
.olti {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.chap {
    width: 48%;
}
.ong {
    width: 48%;
}
.yeti {
    background-image: url(Bg\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 100px;
}
.upic {
    width: 49%;
}
.yong {
    width: 49%;
}
.yh1 {
    width: 85%;
    color: white;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 25px;
}
.yp {
    color: rgb(168, 167, 167);
    margin-bottom: 30px;
}
.ybtn {
    background-color: tomato;
    color: white;
    padding: 10px 25px;
    border: none;
}
.sakz {
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 100px;
}
.sq {
    font-size: 80px;
    color: tomato;
}
.sh2 {
    margin-bottom: 5px;
}
.sp {
    justify-content: center;
    align-items: center;
    color: tomato;
    margin-bottom: 50px;
}
.sorp1 {
    width: 45%;
    font-size: 25px;
}
.sor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.sora {
    background-color: tomato;
    padding: 8px 15px;
    color: rgb(250, 249, 249);
}
.ssp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 2%;
}
.ss1 {
    width: 10%;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.ss2 {
    width: 18%;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.ss3 {
    width: 10%;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
.toqz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 2%;
}
.tbx {
    width: 28%;
    margin: 20px;
    background-color: rgb(244, 244, 244);
}
.tbxa {
    padding: 20px;
}
.tba {
    color: rgb(96, 95, 95);
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 20px;
}
.tba1 {
    color: rgb(104, 104, 104);
    text-decoration: none;
    font-size: 20px;
}
.icont {
    color: tomato;
    margin: 10px;
}
.oonh1 {
    width: 45%;
    font-size: 40px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.oon {
    text-align: center;
}
.oona {
    color: tomato;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}
.onbir {
    background-image: url(Bg\ \(2\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    padding: 100px;
    text-align: center;
}
.onbpic {
    width: 60px;
    margin-bottom: 30px;
}
.onbh1 {
    font-size: 40px;
    margin-bottom: 30px;
}
.onbp {
    width: 35%;
    text-align: center;
    margin: auto;
    color: rgb(122, 122, 122);
    margin-bottom: 20px;
}
.onb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.onba {
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    padding: 10px 10px;
    margin: 20px;
    box-shadow: 0 0  5px 1px rgb(192, 190, 190);
}
.ox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.oxa {
    width: 10%;
}
.oxa1 {
    text-decoration: none;
    color: rgb(75, 74, 74);
}
.oxx {
    width: 20%;
}
.oni {
    color: rgb(79, 79, 79);
    text-align: center;
    margin-top: 20px;
}
@media(max-width:1000px){
    .iong{
        width: 100%;
    } 
    .uchap, .uong {
        width: 100%;
        margin-bottom: 20px;
    }
    .tpic {
        width: 100%;
        margin-bottom: 20px;
    }
    .tong {
        width: 100%;
    }
    .box {
        width: 40%;
    }
    .ypic, .yong {
        width: 100%;
        text-align: center;
    }
    .yh1, .yp {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .tbx {
        width: 35%;
    }
}
@media(max-width:800px){
    .ichap, .orpic{
        width: 100%;
        margin-bottom: 20px;
    } 
    .ds {
    transform: translateX(300px) translateY(1100px);
    box-shadow: 0 0 5px 5px  tomato;
    }
    .boxp {
        width: 100%;
    }
}
@media(max-width:650px){
    .bb{
        width: 50%;
        order: -1;
    } 
    .ipic, .btn {
        width: 20%;
        order: 1;
    }
    .ds {
    transform: translateX(250px) translateY(1175px);
    box-shadow: 0 0 5px 5px  tomato;
    }
    .tbx {
        width: 100%;
        justify-content: center;
    }
    .ss2 {
        width: 100%;
        order: 1;
    }
    .ss3 {
        width: 50%;
        order: 1;
    }
    .ss1 {
        width: 50%;
        order: 1;
    }
    .oxa {
        width: 100%;
        order: -1;
        line-height: 1.6;
    }
    .oxx {
        width: 100%;
        order: 1;
        margin-top: 20px;
    }
}
@media(max-width:550px){
    .box {
        width: 100%;
    }
    .onbp {
        width: 100%;
    }
    .ds {
        transform: translateX(200px) translateY(1670px);
        box-shadow: 0 0 5px 5px  tomato;
        }

}
@media(max-width:500px){
    .bb{
        width: 100%;
        order: -1;
        line-height: 1.6;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    .ipic {
        width: 20%;
        order: -1;
        margin-bottom: 20px;
        display: inline-flex;
        justify-content: center;
        margin: 10px auto;
    } 
    .btn {
        width: 100%;
        order: 1;
        font-size: 20px;
    }
    .ds {
    transform: translateX(160px) translateY(1810px);
    box-shadow: 0 0 5px 5px  tomato;
    }
    .uchap, .uong {
    width: 100%;
    margin-bottom: 20px;
    }
    .bxx {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .onb {
        width: 100%;
    }
    .onbh1 {
        width: 100%;
        text-align: center;
    }
    .onbp {
        width: 100%;
        text-align: center;
    }
}
@media(max-width:400px){
    .bb{
        width: 100%;
        order: -1;
        line-height: 1.6;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .ipic {
        width: 20%;
        order: -1;
        margin-bottom: 20px;
        display: inline-flex;
        justify-content: center;
        margin: 10px auto;
    } 
    .btn {
        width: 100%;
        order: 1;
        font-size: 20px;
    }
    .ds {
    transform: translateX(150px) translateY(1300px);
    box-shadow: 0 0 5px 5px  tomato;
    }
    .uchap, .uong {
        width: 100%;
        margin-bottom: 20px;
    }
    .bxx {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .onb {
        width: 100%;
    }
    .ts1 {
        width: 50%;
    }
    .th1 {
        text-align: center;
    }
}
@media(max-width:350px){
    .bb{
        width: 100%;
        order: -1;
        line-height: 1.6;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .ipic {
        width: 20%;
        order: -1;
        margin-bottom: 20px;
        display: inline-flex;
        justify-content: center;
        margin: 10px auto;
    } 
    .btn {
        width: 100%;
        order: 1;
        font-size: 20px;
    }
    .ds {
        transform: translateX(80px) translateY(1955px);
        box-shadow: 0 0 5px 5px  tomato;
        }
    .uchap, .uong {
        width: 100%;
        margin-bottom: 20px;
    }
    .bxx {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .onb {
        width: 100%;
    }
    .ts1 {
        width: 100%;
    }
    .th1 {
        text-align: center;
    }
    .onbh1 {
        width: 100%;
        text-align: center;
    }
    .onbp {
        width: 100%;
        text-align: center;
    }
}
@media(max-width:300px){
    .bb{
        width: 100%;
        order: -1;
        line-height: 1.6;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        text-align: center;
    }
    .ipic {
        width: 20%;
        order: -1;
        margin-bottom: 20px;
        display: inline-flex;
        justify-content: center;
        margin: 10px auto;
    } 
    .btn {
        width: 100%;
        order: 1;
        font-size: 20px;
    }
    .ds {
    transform: translateX(50px) translateY(1500px);
    box-shadow: 0 0 5px 5px  tomato;
    text-align: center;
    }
    .uchap, .uong {
        width: 100%;
        margin-bottom: 20px;
    }
    .bxx {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    .onb {
        width: 100%;
    }
    .ts1 {
        width: 100%;
    }
    .th1 {
        text-align: center;
    }
    .onbh1 {
        width: 100%;
        text-align: center;
    }
    .onbp {
        width: 100%;
        text-align: center;
    }

}